<div class="copyrighttop">
    <ul>
        <li class="mx-3">
            <a class="" href="https://www.instagram.com/hsynaatik/">
                <i class="fab fa-instagram"></i>
                <span>instagram</span>
            </a>
        </li>
        <li>
            <a class="" href="https://github.com/hsynaatik">
                <i class="fab fa-github"></i>
                <span>Github</span>
            </a>
        </li>
        <li class="mx-3">
            <a class="" href="https://www.linkedin.com/in/huseyin-atik/">
                <i class="fab fa-linkedin"></i>
                <span>linkedin</span>
            </a>
        </li>
    </ul>

</div>