<div class="comment-top">
    <h4>Bir Yorum Bırakın</h4>
    <div class="comment-bottom">
        <form asp-action="PartialAddComment" method="post" asp-controller="Comment">
            <input class="form-control" type="text" name="CommentUserName" placeholder="Adınız Soyadınız" required="">
            <input class="form-control" type="text" name="CommentTitle" placeholder="Başlık" required="">


            <textarea class="form-control" type="text" name="CommentContent"  placeholder="Yorumunuz..."  required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Yorum Yap</button>
        </form>
    </div>
</div>
